<div class="row">
    <div class="col-xs-12">
    <img style="{max-height: 300px;}" [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
    </div>    
</div>
<div class="row">
      <div class="col-xs-12"  >
          <h1>{{recipe.name}}</h1>
      </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="Manage recipe">Manage Recipes <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a>To shopping list</a></li>
                <li><a>Edit recipe</a></li>
                <li><a>Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xsw-12"  >
        <h4>{{recipe.desc}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xsw-12">
        <h4>Ingredients</h4>
    </div>
</div>
