<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assignment 1</h3>
  </div>
  <div class="panel-body">
  
<div class="container">
    <div class="panel">
      <div class="row" *ngIf="IsServerCreated; else noServer">
        <p class="alert alert-success">{{message}}</p>
      </div>
      <ng-template #noServer>
        <p class="alert alert-warning" [ngStyle]="{'background-color':'lightblue'}">{{message}}</p>
      </ng-template>
      <div class="row">
        <button class="btn btn-primary" [disabled]="!allowNew" (click)="onAddNewClick(newServerName)">Add New!</button>
      </div>
  
      <!-- 
      <input type="text" (input)="onTextChangeEvent($event)" /> -->
      <input type="text" [(ngModel)]="serverName" #newServerName/>
      {{serverName}}
  
      <app-success-alert-component [message]="successMessage" >
  
      </app-success-alert-component>
      <app-warning-alert-component></app-warning-alert-component>
    </div>
  
    
  
  </div>
</div>
</div>
  