<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Assignment 4 - Components and Data binding</h3>
    </div>
    <div class="panel-body">
      <app-game-control (startClicked)="startClicked($event)" (stopClicked)="stopClicked($event)"></app-game-control>

      <div *ngFor="let index of numbersList">
          <app-even *ngIf="index % 2 === 0 ">

          </app-even>

          <app-odd *ngIf="index % 2 !== 0 ">
            
          </app-odd>
      </div>
    </div>
  </div>